<h2>Edit Tasks</h2>

<%= form_tag("/tasks/#{@task.id}", method: :patch) do %>
	
	<% @task.errors.full_messages.each do |error| %>
		<div class="alert alert-danger" role="alert">
			<%= error %>
		</div>
	<% end %>

	<div class="form-group">
		<label>Title: </label>
		<%= text_field_tag(:title, "#{@task.title}")%>
	</div>

	<%= submit_tag("Update") %>
<% end %>