
<ul class="list-unstyled">
	<li><h2><%= @task.title %></h2></li>
	<li><p><%= @task.created_at %></p></li>
</ul>
	
<ul class="list-inline">
	<li><%= link_to("edit", "/tasks/#{@task.id}/edit") %></li>
	<li><%= link_to("delete", "/tasks/#{@task.id}", method: "delete") %></li>
</ul>