<h2>All users</h2>

<div class="list-group">
	<% @users.each do |user| %>
	<li class="list-group-item list-group-item-parent">
		<div class="user_left">
			<%= image_tag("/user_images/#{user.image_name}") %>
		</div>
			<%= link_to(user.name, "/users/#{user.id}") %>
	</li>
	<% end %>
</div>